@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(./images/pattern-background-desktop.svg);
}

#container {
    width: 450px;
    height: 696px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 21px;
    margin: 30%;
}

#container img {
    border-radius: 21px 21px 0 0;
}

#content {
    font-family: 'Red Hat Display', Arial, sans-serif;
    text-align: center;
    margin: 40px;
}

#content h1 {
    font-size: 30px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    margin-bottom: 20px;
}

#container p {
    font-size: 16px;
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    line-height: 26px;
}

#price {
    width: 360px;
    height: 100px;
    background-color: hsla(225, 100%, 94%, 0.4);
    margin: 40px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    font-family: 'Red Hat Display', Arial, sans-serif;
}

#price img {
    margin: 20px;
}

#annual-plan h4{
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    font-size: 17px;
}

#annual-plan h5 {
    font-weight: 700;
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    margin-top: 5px;
}

#price a {
    margin-left: 90px;
    color: hsla(245, 75%, 52%, 0.5);
    font-weight: 700;
    font-size: 15px;
}